.header{
    display: flex;
    position: fixed;;
    padding-left: 20px;
    height: 6vh;
    padding-top: 1vh;
    left: 100px;
    right: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-color: black;

}


.middle-container{
    display: flex;
    background-color: rgb(21, 21, 21);
    border-radius: 20px;
    width: 100%;
    height: 80%;
    align-items: center;
    padding-left: 40px;
}

.end-container{
    align-items: center;
    display: flex;
    margin-right: 4vw;
    margin-left: 40px;
}

.middle-container i{
    margin-right: 20px;
    color: grey;
}

.search{
    min-width: 0px;
    max-width: 100%;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
}



.profile-img{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.end-container i{
    margin-right: 20px;
    cursor: pointer;
}





.user-name{
    margin-left: 10px;
    color: white;
}



