.albums-container{
    width: 100%;
    height: 230px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding-bottom: 20px;
}

.albums-container .album-cover{
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: width .5s,height .5s;
}


.album-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.album{
    width: 200px;
    height: 100%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album p{
    margin-top: 5px;
    color: white;
    font-size: 13px;
}

.album-cover:hover{
    background-color: rgba(82, 82, 82, 0.462);
    border-radius: 5px;
    width: 220px;
    height: 220px;
}

.content-header{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-header div{
    display: flex;
    flex-direction: column;
}

.content-header button{
    color:rgb(0, 205, 0);
}









.recommended-song-row{
   display: flex;
    width: 95%;
    cursor: pointer;
    height: 50px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.recommended-song-row .song{
    display: flex;
}

.recommended-song-row .song-info{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recommended-song-row img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    object-fit: cover;
}

.song-info h1{
    font-size: .8rem;
    display: flex;
}

.song-info p{
    display: flex;
    font-size: .8rem;
}

@media (max-width:1100px){
    .recommended-songs{
        grid-template-columns: 1fr 1fr;
    }
    .recommended-songs img{
        width: 70px;
        height: 70px;
    }
}



.music_player{
    
    display: none;
    z-index: 6;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.818); */
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 2vw;
    height: 70px;
    align-items: center;
    /* border-radius: 10px; */
    background-color: rgb(28, 28, 28);
    /* border-radius: 10px; */
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    /* backdrop-filter: blur(20px); */
    /* -webkit-backdrop-filter: blur(10px); */
    /* border: 1px solid rgba(255, 255, 255, 0.18); */

}



.music_player i{
  cursor: pointer;
  margin-left: 30px;
  margin-right: 30px;
  width: 10px;
}

.side-controls{
    margin-right: 20vw;
}

.music_player div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.music_player .play{
  width: 40px;
  height: 40px;
  
  border-radius: 50%;
  background-color: rgb(0, 205, 0);
}

.timeline{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
}



.timeline input{
    width: 100%;
}

.timeline .current-time{
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 12px;
}

.timeline .ending-time{
    position: absolute;
    bottom: 10px;
    right: 0;
    font-size: 12px;
}

.music_player .song-info {
    cursor:pointer;
  display: flex;
  width: 40vw;
  /* margin-left: 10vw; */
  justify-content: center;
  align-items: center;
}

.song-info img{
  width: 50px;
  height: 50px;
  border-radius:5px;
  object-fit: cover;
  margin-right: 15px;
}

.song-info div{
  display: flex;
  flex-direction: column;
  align-items: start;
}


.music_player .main-controls{
    margin-left: 20px;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#progressBar{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background: grey;
    cursor: pointer;
}

#progressBar::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(0, 205, 0);
}








.second_row{
    width: 100%;
    height: 500px;
    display: flex;
}

.second_row .genre{
    display: flex;
    /* height: 100%; */
    flex-wrap: wrap;
    flex: 1;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
}

.second_row .genre .category{
    height: 19px;
    padding: 10px 12px;
    margin-right:10px;
    background-color: rgba(128, 128, 128, 0.163);
    border: solid 1px rgb(50, 50, 50);
    border-radius: 12px;
}

.second_row .genre h1{
    width: 100%;
    display: block;
}

.second_row .genre .category p{
    font-size: 17px;
}

.second_row .quick-picks{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 2;
    padding-left: 15px;
}

.second_row .quick-picks .songs{
    width: 95%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(128, 128, 128, 0.163);
    padding-left: 5%;
    padding-top: 5%;
    border-radius: 20px;
}

.second_row .quick-picks h1{
    margin-bottom: 15px;
}

.second_row .artists{
    padding-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    row-gap: 5%;
    column-gap: 5%;
    flex: 1;
    overflow-y: auto;
}

.second_row .artists .artist_img{
    width: 100%;
    height: 8vw;
    background-color: aqua;
    object-fit: cover;
    border-radius: 20px;
}