<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/basic.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/header.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/nav-bar.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/body.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/songs.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/artist.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <title>Luna</title>
    <script
      src="https://kit.fontawesome.com/7918aa0ac3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body style="padding-left: 20px">
    <!-- Header -->

    <header class="header">
      <h2 class="web-name">Luna</h2>
      <div class="middle-container">
        <input class="search" type="text" />
        <i class="fa-solid fa-magnifying-glass"></i>
        <button><p class="new-release">New releases</p></button>
        <button><p class="playlist">Playlists</p></button>
        <button><p class="shuffle-play">Shuffle Play</p></button>
      </div>
      <div class="end-container">
        <img class="profile-img" src="images/th.jpeg" alt="profile-img" />
        <p class="user-name">Lakshya Bhati</p>
      </div>
    </header>

    <!-- NavBar -->

    <nav class="nav-bar">
      <h2 class="nav-heading">Browse music</h2>
      <button class="nav-button">
        <i class="fa-solid fa-house"></i>
        <p>Home</p>
      </button>
      <button class="nav-button">
        <i class="fa-solid fa-music"></i>
        <p>Albums</p>
      </button>
      <button class="nav-button">
        <i class="fa-solid fa-record-vinyl"></i>
        <p>Tracks</p>
      </button>
      <button class="nav-button">
        <i class="fa-solid fa-icons"></i>
        <p>Playlist</p>
      </button>
      <h2 class="nav-heading">Library</h2>
      <button class="nav-button">
        <p>Recently played</p>
      </button>
      <button class="nav-button">
        <p>Favourite Tracks</p>
      </button>
      <button class="nav-button">
        <p>Charts</p>
      </button>
      <button class="nav-button">
        <p>Radio</p>
      </button>
    </nav>

    <!-- Background shading -->
    <div class="background-image">
      <div>
        <img
          class="img2"
          src="{{artists[0]['thumbnails'][artists['thumbnails']|length-1]['url']}}"
          alt=""
        />
      </div>
      <div>
        <iframe class="img1" src="https://www.youtube.com/embed/HhjHYkPQ8F0?autoplay=1&mute=1" width="100%" height='100%' frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <img
          class="img1"
          src="{{recommended_music_videos[1]['thumbnails'][recommended_music_videos[1]['thumbnails']|length-1]['url']}}"
          alt=""
        /> -->
      </div>
    </div>
    <div class="main-body">
      <div class="upper-half"></div>
      <div class="lower-half"></div>
    </div>

    <!-- Body -->

    <div class="body">
      <div class="flex-container">
        <div>
          <h1 class="big-heading">
            {{recommended_music_videos[1]["artists"][0]["name"]}} <br />
            - {{recommended_music_videos[1]["title"]}}
          </h1>
          <p class="small-text">
            If music be the food of love, play on;<br />
            Give me excess of it, that, surfeiting,<br />
            The appetite may sicken, and so die. <br />
            That strain again! it had a dying fall <br />
          </p>
        </div>
        <div class="display-flex">
          <button class="play">
            <p>Play</p>
          </button>
          <button class="add-to-playlist">
            <p>Add</p>
          </button>
        </div>
      </div>
      <div class="content-header">
        <div>
          <h1>Albums</h1>
          <p>Recommended Albums for you</p>
        </div>
        <button>See More >></button>
      </div>
      <div class="albums-container">
        {%for album in recommended_music_videos%}
        {% set videoId = album["videoId"] %}
        <div class="album" onclick="playSong('{{ videoId|escape }}')">
          <div class="album-cover">
            <img
              src="{{album['thumbnails'][album['thumbnails']|length-1]['url']}}"
              alt=""
            />
          </div>
          <p>{{album["title"]}}</p>
        </div>
        {% endfor %}
      </div>
      <div class="content-header">
        <div>
          <h1>Playlist</h1>
          <p>Playlists you might like</p>
        </div>
        <button>See More >></button>
      </div>
      <div class="albums-container">
        {%for playlist in recommended_playlists%}
        <div class="album">
          <div class="album-cover">
            <img
              src="{{playlist['thumbnails'][playlist['thumbnails']|length-1]['url']}}"
              alt=""
            />
          </div>
          <p>{{playlist["title"]}}</p>
        </div>
        {% endfor %}
      </div>
      <div class="content-header">
        <div>
          <h1>Quick Picks</h1>
          <p>Recommended Songs for you</p>
        </div>
      </div>
      <div class="recommended-songs">
        {%for album in homepage[0]['contents']%}
        {% set videoId = album["videoId"] %}
        <div class="recommended-song-row" onclick="playSong('{{ videoId|escape }}')">
          <img
            src="{{album['thumbnails'][album['thumbnails']|length-1]['url']}}"
            alt=""
          />
          <div class="song-info">
            <h1>{{album["title"]}}</h1>
            <p>{{album["artists"][0]["name"]}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="top-artist">
        <div class="flex-container">
          <div class="display-flex">
            <h1 class="big-heading">
              {{artists[0]["title"]}}
            </h1>
            <p class="small-text">
              {{artists[0]["views"]}} <br>
              {{artists[0]["subscribers"]}}
            </p>
          </div>
          <div class="display-flex">
            <button class="play">
              <p>Play</p>
            </button>
            <button class="add-to-playlist">
              <p>View</p>
            </button>
          </div>
        </div>
      </div>
      <div class="content-header">
        <div>
          <h1>Artists</h1>
          <p>Top Artists</p>
        </div>
        <button>See More >></button>
      </div>
      <div class="artists-container">
        {%for artist in artists %}
        <div class="artist">
          <div class="artist-cover">
            <img
              src="{{artist['thumbnails'][0]['url']}}"
              alt=""
            />
          </div>
          <p>{{artist["title"]}}</p>
        </div>
        
        {% endfor %}
        
      </div>
      
    </div>
    <div class="music_player">
      <audio id="song" class="songsss">
        <source id="song_link" src="https://rr2---sn-cnoa-w5pl.googlevideo.com/videoplayback?expire=1677894789&ei=JVACZOaQF_Gx8QO0xpnQAw&ip=117.212.9.236&id=o-AJdV67Vttd5g3p1MxJsdV3RsFJfPkYNGEKi5Vgf4b2rg&itag=249&source=youtube&requiressl=yes&mh=P4&mm=31%2C29&mn=sn-cnoa-w5pl%2Csn-qxaeenlz&ms=au%2Crdu&mv=m&mvi=2&pcm2cms=yes&pl=20&gcr=in&initcwndbps=841250&vprv=1&mime=audio%2Fwebm&ns=zFv347CMOmuQOA4zWghJcfQL&gir=yes&clen=1440091&dur=216.281&lmt=1676020676375962&mt=1677872705&fvip=3&keepalive=yes&fexp=24007246&c=WEB&txp=2318224&n=OqkmwEhNHNJCgor&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cgcr%2Cvprv%2Cmime%2Cns%2Cgir%2Cclen%2Cdur%2Clmt&lsparams=mh%2Cmm%2Cmn%2Cms%2Cmv%2Cmvi%2Cpcm2cms%2Cpl%2Cinitcwndbps&lsig=AG3C_xAwRAIgZefVUDQpzE-l5a43E0mv8i_px71JGkV-rEDcDeZXHzkCIHqXohnv49MSWDKGEw8P9FFV89jFZDuc5MxO52584mgi&sig=AOq0QJ8wRQIgFX7JaiOUEK7AHo4DKfR-fEO_VvNSeogw1im564SUitECIQCHhQ5EcZrOFfajrkDmbVQJ35BsTXmAM8LZlbe8OVGbkA==" type="audio/mp3">
        Your browser does not support the audio element.
      </audio>
      
      <input type="range" value="0" id="progressBar">
      <div class="main-controls">
        
        <div>
          <i class="fa-regular fa-heart"></i>
          <i class="fa-solid fa-backward"></i>
          <div class="play"><i onclick="playPause()" class="fa-solid fa-play" id="playButton"></i></div>
          <i class="fa-solid fa-forward"></i>
          <i class="fa-solid fa-repeat"></i>
        </div>
        
      </div>
      <div class="song-info">
        <img src="https://images.genius.com/bf004d7c1ba188cb06c28e8966788a6d.1000x1000x1.jpg" alt="" id="song-image">
        <div>
          <h1>Treat You Better</h1>
          <p>Shawn Mendes</p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/music_player.js') }}"></script>  
  </body>
  <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/music_player.js') }}"></script>
</html>
